<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Admin">
	<resultMap type="adminMember" id="adminmemberResultSet">
		<id property="member_Code" column="member_Code"></id>
		<result property="member_Id" column="member_Id"/>
		<result property="member_Pwd" column="member_Pwd"/>
		<result property="member_Nickname" column="member_Nickname"/>
		<result property="member_EnrollDate" column="member_EnrollDate"/>
		<result property="member_Status" column="member_Status"/>
		<result property="member_Class" column="member_Class"/>
		<result property="member_Introduction" column="member_Introduction"/>
		<result property="member_Age" column="member_Age"/>
		<result property="member_Job" column="member_Job"/>
		<result property="member_Gender" column="member_Gender"/>
		<result property="location_Code" column="location_Code"/>
		<result property="member_Phone" column="member_Phone"/>
		<result property="member_SMSConfirmation" column="member_SMSConfirmation"/>
		<collection property="files" javaType="memberFiles" resultMap="adminFiles"/>
		<collection property="category_Name" javaType="java.util.ArrayList" resultMap="adminInterestCategory"/>
	</resultMap>
	
<!-- 	<resultMap type="adminPenalty" id="adminPenaltyResultSet"> -->
<!-- 		<id property ="member_Code" column="member_Code"></id> -->
<!-- 		<result property="member_Id" column = "member_Id"/> -->
<!-- 		<result property="member_Status" column ="member_Status"/> -->
<!-- 		<result property="block_Code" column = "block_Code"/> -->
<!-- 		<result property="block_StartDate" column="block_StartDate"/> -->
<!-- 		<result property="block_EndDate" column="block_EndDate"/> -->
<!-- 		<result property="block_Reason" column = "block_Reason"/> -->
<!-- 		<result property="block_status" column="block_status"/> -->
<!-- 	</resultMap> -->
	
	<resultMap type="adminInterestCategory" id="admininterestCategoryResultSet">
		<result property="category_Name" column="category_Name"/>
	</resultMap>
	
	<resultMap type="adminFiles" id="adminfilesSet">
		<id property="files_Code" column="files_Code"/>
		<result property="files_BoardType" column="fileBoardType"/>
		<result property="files_OriginName" column="files_OriginName"/>
		<result property="files_Name" column="files_Name"/>
		<result property="files_EnrollDate" column="files_EnrollDate"/>
		<result property="files_Status" column="files_Status"/>
		<result property="files_DeleteDate" column="files_DeleteDate"/>
		<result property="member_Code" column="member_Code"/>
		<result property="group_Code" column="group_Code"/>
		<result property="pr_Code" column="pr_Code"/>
		<result property="board_Code" column="board_Code"/>
	</resultMap>
	
	
	<select id="selectMember" parameterType="map" resultType="hashmap">
		SELECT DISTINCT MEMBER_CODE , MEMBER_ID , MEMBER_NICKNAME, MEMBER_ENROLLDATE , MEMBER_AGE, MEMBER_JOB, MEMBER_PHONE, MEMBER_GENDER, LOCATION_NAME, CATEGORY_NAME
		FROM(
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_NICKNAME,
		TO_CHAR(M.MEMBER_ENROLLDATE,'yyyy-mm-dd') AS MEMBER_ENROLLDATE, M.MEMBER_AGE, M.MEMBER_JOB, M.MEMBER_PHONE,
		M.MEMBER_GENDER, L.LOCATION_NAME,
		LISTAGG(C.CATEGORY_NAME,',') within group (order by MEMBER_ENROLLDATE) OVER (PARTITION BY M.MEMBER_CODE) AS CATEGORY_NAME
		FROM MEMBER M
		JOIN LOCATION L ON(M.LOCATION_CODE = L.LOCATION_CODE)
		LEFT JOIN INTERESTCATEGORY IC ON(M.MEMBER_CODE = IC.MEMBER_CODE)
		LEFT JOIN CATEGORY C ON(IC.CATEGORY_CODE = C.CATEGORY_CODE))
		WHERE 1=1
	<if test='Option neq "전체"'>
		AND
		CATEGORY_NAME = #{Option}
	</if>
	<if test='All neq ""'>
		AND(
		MEMBER_ID LIKE '%' || #{All} || '%'
		OR LOCATION_NAME LIKE '%' || #{All} || '%'
		OR MEMBER_NICKNAME LIKE '%' || #{All} || '%'
		OR MEMBER_PHONE LIKE '%' || #{All} || '%'
		OR MEMBER_GENDER LIKE '%' || #{All} || '%'
		)
	</if>
	<if test='Date1 neq ""'>
		AND
		MEMBER_ENROLLDATE BETWEEN #{Date1} AND #{Date2}
	</if>
	</select>																	
	
	<insert id="penaltyMemberInsert">
		insert into BLOCK(BLOCK_CODE,BLOCK_REASON,BLOCK_TYPE,BLOCK_STARTDATE,BLOCK_ENDDATE,BLOCK_STATUS,MEMBER_CODE) VALUES(SEQ_BLOCK_BLOCK_CODE.NEXTVAL, #{textArea}, 0, SYSDATE, #{lockDate}, 0, #{code})
	</insert>
	
	<insert id="insertNotice">
		INSERT INTO NOTICE(NOTICE_CODE, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_ENROLLDATE, NOTICE_DELETEDATE, NOTICE_STATUS, NOTICE_COUNT, MEMBER_CODE) VALUES(SEQ_NOTICE_NOTICE_CODE.NEXTVAL, #{title}, #{content}, SYSDATE, NULL, 0, 0, #{adminCode})
	</insert>

	<insert id="insertCPP" parameterType="hashmap" >
		INSERT INTO PR 
		VALUES(SEQ_PR_PR_CODE.NEXTVAL, #{b.pr_Company}, #{b.pr_Title}, #{b.pr_Link}, 1,
		0, #{b.pr_Contractmoney}, #{b.category_Code}, #{b.pr_StartDate}, #{b.pr_EndDate}, 0)
	</insert>
	<insert id="insertFilesCPP" parameterType="hashmap" >
		INSERT INTO FILES(FILES_CODE, FILES_BOARDTYPE, FILES_ORIGINNAME, FILES_NAME, FILES_ENROLLDATE, FILES_STATUS, FILES_DELETEDATE, PR_CODE) 
		VALUES(SEQ_FILES_FILES_CODE.NEXTVAL, 3, #{originFileName}, #{changeName}, SYSDATE, 0, NULL, SEQ_PR_PR_CODE.CURRVAL)
	</insert>
	
	<insert id="insertCPC" parameterType="hashmap" >
		INSERT INTO PR (PR_CODE, PR_COMPANY, PR_TITLE, PR_LINK, PR_ORDER, PR_TYPE, PR_CONTRACTMONEY, CATEGORY_CODE, PR_STATUS)
		VALUES(SEQ_PR_PR_CODE.NEXTVAL, #{b.pr_Company}, #{b.pr_Title}, #{b.pr_Link}, 0,
		1, #{b.pr_Contractmoney}, #{b.category_Code},0)
	</insert>
	<insert id="insertFilesCPC" parameterType="hashmap" >
		INSERT INTO FILES(FILES_CODE, FILES_BOARDTYPE, FILES_ORIGINNAME, FILES_NAME, FILES_ENROLLDATE, FILES_STATUS, FILES_DELETEDATE, PR_CODE) 
		VALUES(SEQ_FILES_FILES_CODE.NEXTVAL, 3, #{originFileName}, #{changeName}, SYSDATE, 0, NULL, SEQ_PR_PR_CODE.CURRVAL)
	</insert>
	
	<insert id="updateGroupReward" parameterType="map">
		INSERT INTO REWARD (REWARD_CODE, REWARD_TYPE, REWARD_STATUS, REWARD_ISSUEDATE, STUDYGROUP_CODE) VALUES(SEQ_REWARD_REWARD_CODE.NEXTVAL,1,1,SYSDATE,#{code})
	</insert>
	
	<update id="updateNoticeCount">
		UPDATE NOTICE
		SET NOTICE_COUNT = (SELECT NOTICE_COUNT FROM NOTICE WHERE NOTICE_CODE = #{noticeCode})+1
		WHERE NOTICE_CODE = #{noticeCode}
	</update>
	
	<update id="penaltyMemberUpdate">
		UPDATE MEMBER SET MEMBER_STATUS = 3 WHERE MEMBER_CODE = #{code}
	</update>
	
	<update id="penaltyEndMember">
		UPDATE BLOCK SET BLOCK_STATUS = 1 WHERE BLOCK_CODE = #{code}
	</update>
	
	<update id="penaltyEndMemberUpdate">
		UPDATE MEMBER SET MEMBER_STATUS = 0 
		WHERE MEMBER_CODE = (SELECT B.MEMBER_CODE
                             FROM BLOCK B
                             WHERE BLOCK_CODE=#{code})
	</update>
	
	<update id="updateDispauseMember">
		UPDATE MEMBER SET MEMBER_STATUS = 1
		WHERE MEMBER_CODE = #{code}
	</update>
	
	<update id="deleteNotice">
		UPDATE NOTICE SET NOTICE_STATUS=1, NOTICE_DELETEDATE = SYSDATE
		WHERE NOTICE_CODE = #{code} 
	</update>
	
	<update id="updateBoardStatus">
		UPDATE GROUPBOARD SET GROUPBOARD_STATUS = 2
		WHERE GROUPBOARD_CODE = #{code}
	</update>
	
	<update id="updateCPP">
		UPDATE PR SET PR_TITLE = #{b.pr_Title}, PR_LINK = #{b.pr_Link} , PR_CONTRACTMONEY = #{b.pr_Contractmoney}
		WHERE PR_CODE = #{b.pr_Code}
	</update>
	
	<update id="updateCPPImg">
		UPDATE FILES SET FILES_ORIGINNAME = #{originFileName}, FILES_NAME = #{changeName}
		WHERE PR_CODE = #{b.pr_Code}
	</update>
	
	<update id="updateCPC">
		UPDATE PR SET PR_TITLE = #{b.pr_Title}, PR_LINK = #{b.pr_Link} , PR_CONTRACTMONEY = #{b.pr_Contractmoney}
		WHERE PR_CODE = #{b.pr_Code}
	</update>
	
	<update id="updateCPCImg">
		UPDATE FILES SET FILES_ORIGINNAME = #{originFileName}, FILES_NAME = #{changeName}
		WHERE PR_CODE = #{b.pr_Code}
	</update>
	
	<update id="updateSingleReward">
		UPDATE REWARD SET REWARD_STATUS = 1 , REWARD_ISSUEDATE = SYSDATE
		WHERE REWARD_CODE = #{code}
	</update>
	
	<update id="deletePR">
		UPDATE PR SET PR_STATUS = 2
		WHERE PR_CODE = #{code} 
	</update>
	
	
	
	<select id="getPenaltyList" parameterType="map" resultType="hashmap">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_STATUS, B.BLOCK_CODE,
		  		B.BLOCK_STARTDATE, B.BLOCK_ENDDATE, B.BLOCK_REASON, B.BLOCK_STATUS
		FROM MEMBER M
		JOIN BLOCK B ON(M.MEMBER_CODE = B.MEMBER_CODE)
	    WHERE M.MEMBER_STATUS = 3 AND B.BLOCK_ENDDATE > SYSDATE AND
	    B.ROWID in (SELECT MIN(B.ROWID) from BLOCK B group by B.MEMBER_CODE)
	</select>
	
	<select id="getPenaltyEndList" parameterType="map" resultType="hashmap">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_STATUS, B.BLOCK_CODE,
		B.BLOCK_STARTDATE, B.BLOCK_ENDDATE, B.BLOCK_REASON, B.BLOCK_STATUS
		FROM
		MEMBER M
		JOIN BLOCK B ON(M.MEMBER_CODE = B.MEMBER_CODE)
		WHERE M.MEMBER_STATUS = 3 AND SYSDATE > B.BLOCK_ENDDATE AND BLOCK_STATUS = 0
	</select>
	
	<select id="searchPenaltyHistoryById" parameterType="map" resultType="hashmap">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_STATUS, B.BLOCK_CODE,
		TO_CHAR(B.BLOCK_STARTDATE,'yyyy-mm-dd') AS BLOCK_STARTDATE, TO_CHAR(B.BLOCK_ENDDATE,'yyyy-mm-dd') AS BLOCK_ENDDATE, B.BLOCK_REASON, 
        DECODE(B.BLOCK_STATUS, 0, '제재', 1, '만료') BLOCK_STATUS
		FROM MEMBER M 
		JOIN BLOCK B ON(M.MEMBER_CODE = B.MEMBER_CODE)
		WHERE M.MEMBER_ID LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="searchPenaltyHistoryByCode" parameterType="map" resultType="hashmap">
	SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_STATUS, B.BLOCK_CODE,
		TO_CHAR(B.BLOCK_STARTDATE,'yyyy-mm-dd') AS BLOCK_STARTDATE, TO_CHAR(B.BLOCK_ENDDATE,'yyyy-mm-dd') AS BLOCK_ENDDATE, B.BLOCK_REASON, 
        DECODE(B.BLOCK_STATUS, 0, '제재', 1, '만료') BLOCK_STATUS
		FROM MEMBER M 
		JOIN BLOCK B ON(M.MEMBER_CODE = B.MEMBER_CODE)
		WHERE M.MEMBER_CODE LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="searchPenaltyHistoryByReason" parameterType="map" resultType="hashmap">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_STATUS, B.BLOCK_CODE,
		TO_CHAR(B.BLOCK_STARTDATE,'yyyy-mm-dd') AS BLOCK_STARTDATE, TO_CHAR(B.BLOCK_ENDDATE,'yyyy-mm-dd') AS BLOCK_ENDDATE, B.BLOCK_REASON, 
        DECODE(B.BLOCK_STATUS, 0, '제재', 1, '만료') BLOCK_STATUS
		FROM MEMBER M 
		JOIN BLOCK B ON(M.MEMBER_CODE = B.MEMBER_CODE)
		WHERE B.BLOCK_REASON LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="getDispauseList" parameterType="map" resultType="hashmap">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_NICKNAME, M.MEMBER_GENDER, M.MEMBER_STATUS,
        M.MEMBER_PHONE, M.MEMBER_SMSCONFIRMATION, M.MEMBER_JOB , L.LOGINRECORD_DATE
        FROM MEMBER M
        JOIN LOGINRECORD L ON (M.MEMBER_CODE = L.MEMBER_CODE)
		WHERE M.MEMBER_STATUS = 0 AND (SYSDATE - L.LOGINRECORD_DATE) > 90
	</select>
	
	<select id="searchDispauseList" parameterType="java.util.HashMap" resultType="always.awake.studyplus.admin.model.vo.DispauseBoard">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_NICKNAME, M.MEMBER_GENDER, M.MEMBER_PHONE,
				M.MEMBER_SMSCONFIRMATION, TO_CHAR(L.LOGINRECORD_DATE,'YYYYMMDD') AS LOGINRECORD_DATE, M.MEMBER_STATUS
		FROM MEMBER M
		JOIN LOGINRECORD L ON (M.MEMBER_CODE = L.MEMBER_CODE)
		WHERE 1= 1
		<if test='option eq "memberId"'>
			AND
			M.MEMBER_ID LIKE '%' || #{keyword} || '%'
		</if>
		<if test='option eq "memberCode"'>
			AND
			M.MEMBER_CODE LIKE '%' || #{keyword} || '%'
		</if>
	</select>
	
	<select id="countDispauseArticle" parameterType="java.util.HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER M
		WHERE M.MEMBER_STATUS = 1 
		<if test='option eq "memberId"'>
		AND M.MEMBER_ID LIKE '%' || #{keyword} || '%'
		</if>
		<if test='option eq "memberCode"'>
		AND M.MEMBER_CODE LIKE '%' || #{keyword} || '%'
		</if>
	</select>
	
	<select id="searchGroupList" parameterType="java.util.HashMap" resultType="hashmap">
		SELECT M.MEMBER_ID,M.MEMBER_PHONE, SG.STUDYGROUP_CODE, SG.STUDYGROUP_NAME, SG.STUDYGROUP_OPENSTATUS, SG.STUDYGROUP_INTRO, TO_CHAR(STUDYGROUP_STDATE, 'yyyy-mm-dd') AS STUDYGROUP_STDATE, SG.STUDYGROUP_GOALTIME, SG.STUDYGROUP_MAXNUM, SG.MEMBER_CODE, C.CATEGORY_NAME, L.LOCATION_NAME, NVL(JG.JOINGROUP_MEMBERCOUNT, 0) AS JOINGROUP_MEMBERCOUNT
		FROM STUDYGROUP SG
		JOIN LOCATION L USING(LOCATION_CODE)
		JOIN CATEGORY C USING(CATEGORY_CODE)
        JOIN MEMBER M ON(SG.MEMBER_CODE = M.MEMBER_CODE)
		LEFT JOIN (SELECT COUNT(MEMBER_CODE) AS JOINGROUP_MEMBERCOUNT, STUDYGROUP_CODE
		            FROM JOINGROUP
		            GROUP BY STUDYGROUP_CODE) JG ON(SG.STUDYGROUP_CODE = JG.STUDYGROUP_CODE)
		WHERE 1=1
		<if test='keyword neq ""'>
			AND (SG.STUDYGROUP_NAME LIKE '%' || #{keyword} || '%' 
			OR C.CATEGORY_NAME LIKE '%' || #{keyword} || '%'
			OR L.LOCATION_NAME LIKE '%' || #{keyword} || '%'
			OR SG.STUDYGROUP_CODE LIKE '%' || #{keyword} || '%')
		</if>
		<if test='option neq "전체"'>
			AND C.CATEGORY_NAME = #{option}
		</if>
		<if test='createDate1 neq ""'>
			AND SG.STUDYGROUP_STDATE BETWEEN #{createDate1} AND #{createDate2}
		</if>
	</select>
	
	<select id="getNoticeListCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE NOTICE_STATUS = 0
		<if test='option eq "noticeCode"'>
			AND NOTICE_CODE LIKE '%' ||#{keyword}|| '%'
		</if>
		<if test='option eq "noticeTitle"'>
			AND NOTICE_TITLE LIKE '%' ||#{keyword}|| '%'
		</if>
	</select>
	
	<select id="getNoticeList" parameterType="map" resultType="hashmap">
		SELECT *
		FROM NOTICE N
		WHERE NOTICE_STATUS = 0
		<if test='option eq "noticeCode"'>
			AND NOTICE_CODE LIKE '%' ||#{keyword}|| '%'
		</if>
		<if test='option eq "noticeTitle"'>
			AND NOTICE_TITLE LIKE '%' ||#{keyword}|| '%'
		</if>
		ORDER BY NOTICE_CODE DESC
	</select>
	
	<select id="getGroupBoardListCount" parameterType="map" resultType="_int">
		SELECT SUM(NUM)
		FROM (
		SELECT COUNT(*) AS NUM
		FROM GROUPBOARD
		WHERE 1=1
		<if test='option eq "boardContent"'>
			AND GROUPBOARD_CONTENT LIKE '%' ||#{keyword}|| '%'
		</if>
		<if test='option eq "memberCode"'>
			AND MEMBER_CODE LIKE '%' ||#{keyword}|| '%' 
		</if>
		UNION ALL
		SELECT COUNT(*)AS NUM
		FROM REPLY
		WHERE 1=1
		<if test="option eq null">
		)
		</if>
		<if test='option eq "boardContent"'>
			AND REPLY_CONTENT LIKE '%' ||#{keyword}|| '%')
		</if>
		<if test='option eq "memberCode"'>
			AND MEMBER_CODE LIKE '%' ||#{keyword}|| '%' )
		</if>

	</select>
	
	<select id="getGroupBoardList" parameterType="map" resultType="hashmap">
		SELECT code, member, content, post, type , boardCode, nick ,groupName , status, board
		from
		(SELECT G.GROUPBOARD_CODE as code,G.MEMBER_CODE as member, G.GROUPBOARD_CONTENT as content, TO_CHAR(G.GROUPBOARD_POSTDATE,'yyyymmdd') as post, '그룹' as type , G.STUDYGROUP_CODE as boardCode, M.MEMBER_NICKNAME as nick, SG.STUDYGROUP_NAME as groupName, g.groupboard_status as status ,g.groupboard_type as board
		FROM GROUPBOARD G
		JOIN MEMBER M ON (M.MEMBER_CODE = G.MEMBER_CODE)
		JOIN STUDYGROUP SG ON (SG.STUDYGROUP_CODE = G.STUDYGROUP_CODE)
		WHERE 1=1 
		<if test='option eq "memberCode"'>
		AND G.MEMBER_CODE = #{keyword}
		</if>
		<if test='option eq "boardContent"'>
		AND G.GROUPBOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
		UNION ALL
		SELECT R.REPLY_CODE as code,R.MEMBER_CODE as member, R.REPLY_CONTENT as content, TO_CHAR(R.REPLY_DATE,'yyyymmdd') as post, '리플' as type, R.GROUPBOARD_CODE as boardCode, M.MEMBER_NICKNAME as nick, SG.STUDYGROUP_NAME as groupName, g.groupboard_status as status ,g.groupboard_type as board
		FROM REPLY R
		JOIN MEMBER M ON (M.MEMBER_CODE = R.MEMBER_CODE)
		JOIN GROUPBOARD G ON (R.GROUPBOARD_CODE = G.GROUPBOARD_CODE)
		JOIN STUDYGROUP SG ON (SG.STUDYGROUP_CODE = g.studygroup_code)
		WHERE 1=1
		<if test="option eq null">
		)
		</if>
		<if test='option eq "memberCode"'>
		AND R.MEMBER_CODE = #{keyword})
		</if>
		<if test='option eq "boardContent"'>
		AND R.REPLY_CONTENT LIKE '%'||#{keyword}||'%')
		</if>
		
	</select>
	
	<select id="getPRList" parameterType="map" resultType="map">
		SELECT PR_CODE,PR_COMPANY,PR_TITLE,PR_LINK,PR_ORDER,PR_TYPE,
				PR_CONTRACTMONEY,CATEGORY_CODE, PR_STATUS, TO_CHAR(PR_STARTDATE,'yyyymmdd') as PR_STARTDATE, TO_CHAR(PR_ENDDATE,'yyyymmdd') as PR_ENDDATE,
				FILES_CODE,FILES_BOARDTYPE,FILES_ORIGINNAME,FILES_NAME,
				FILES_ENROLLDATE,FILES_STATUS,FILES_DELETEDATE
		FROM PR
		JOIN FILES USING(PR_CODE)
	</select>
	
	<select id="selectPR" parameterType="map" resultType="map">
		SELECT PR_CODE,PR_COMPANY,PR_TITLE,PR_LINK,PR_ORDER,PR_TYPE,
				PR_CONTRACTMONEY,CATEGORY_CODE, PR_STATUS, PR_STARTDATE, PR_ENDDATE,
				FILES_CODE,FILES_BOARDTYPE,FILES_ORIGINNAME,FILES_NAME,
				FILES_ENROLLDATE,FILES_STATUS,FILES_DELETEDATE
		FROM PR
		JOIN FILES USING(PR_CODE)
		WHERE PR_CODE = #{prCode}
	</select>
	
	
	<select id="searchPRList" parameterType="map" resultType="map">
		SELECT PR_CODE,PR_COMPANY,PR_TITLE,PR_LINK,PR_ORDER,DECODE(PR_TYPE, 0, 'CPP광고', 1, 'CPC광고') AS PR_TYPE,
				PR_CONTRACTMONEY,CATEGORY_CODE, DECODE(PR_STATUS, 0, '게시', 1, '종료', 2, '삭제') AS PR_STATUS, TO_CHAR(PR_STARTDATE,'yyyymmdd') AS PR_STARTDATE, TO_CHAR(PR_ENDDATE,'yyyymmdd')AS PR_ENDDATE,
				FILES_CODE,FILES_BOARDTYPE,FILES_ORIGINNAME,FILES_NAME,
				FILES_ENROLLDATE,FILES_STATUS,FILES_DELETEDATE, CATEGORY_NAME
		FROM PR
		JOIN FILES USING(PR_CODE)
		JOIN CATEGORY USING(CATEGORY_CODE)
		WHERE 1=1
		<if test='keyword neq ""'>
			AND (PR_COMPANY LIKE '%' || #{keyword} || '%' 
			OR PR_TITLE LIKE '%' || #{keyword} || '%'
			OR PR_LINK LIKE '%' || #{keyword} || '%')
		</if>
		<if test='option neq "전체"'>
			AND CATEGORY_NAME = #{option}
		</if>
		<if test='createDate1 neq ""'>
			AND PR_STARTDATE BETWEEN #{createDate1} AND #{createDate2}
		</if>
		<if test='createDate2 neq ""'>
			AND PR_ENDDATE BETWEEN #{createDate1} AND #{createDate2}
		</if>
	</select>
	
	<select id="getSingleRewardListCount" parameterType="map" resultType="_int">
		SELECT count(*)
		FROM REWARD
		WHERE REWARD_TYPE=0 AND REWARD_STATUS=0
		AND MEMBER_CODE IS NOT NULL
	</select>
	
	<select id="getSingleRewardList" parameterType="map" resultType="map">
		SELECT DISTINCT MEMBER_CODE , MEMBER_ID, MEMBER_NICKNAME, MEMBER_ENROLLDATE, MEMBER_AGE, MEMBER_JOB, 
        MEMBER_PHONE, REWARD_APPDATE, REWARD_STATUS,REWARD_CODE, NEEDLEVEL_LEVEL, CATEGORY_NAME
        FROM(
        SELECT  MEMBER_CODE , MEMBER_ID, MEMBER_NICKNAME, MEMBER_ENROLLDATE, MEMBER_AGE, MEMBER_JOB, 
        MEMBER_PHONE, REWARD_APPDATE, REWARD_CODE,REWARD_STATUS, NEEDLEVEL_LEVEL, LISTAGG(CATEGORY_NAME,',') within group (order by REWARD_APPDATE) OVER (PARTITION BY MEMBER_CODE) AS CATEGORY_NAME
		FROM(
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_NICKNAME, M.MEMBER_ENROLLDATE, M.MEMBER_AGE, M.MEMBER_JOB, 
		       M.MEMBER_PHONE,R.REWARD_APPDATE, R.REWARD_STATUS,R.REWARD_CODE, NL.NEEDLEVEL_LEVEL, C.CATEGORY_NAME 
		FROM MEMBER M
		JOIN INTERESTCATEGORY IC ON (M.MEMBER_CODE = IC.MEMBER_CODE)
		JOIN CATEGORY C ON (IC.CATEGORY_CODE = C.CATEGORY_CODE)
		JOIN REWARD R ON (M.MEMBER_CODE = R.MEMBER_CODE)
		JOIN NEED N ON (N.MEMBER_CODE = M.MEMBER_CODE)
		JOIN NEEDLEVEL NL ON (N.NEEDLEVEL_CODE = NL.NEEDLEVEL_CODE)
		WHERE R.REWARD_STATUS = 0 AND R.REWARD_TYPE = 0 AND M.MEMBER_CODE IS NOT NULL))
	</select>
	
	<select id="searchSingleRewardHistoryCount" resultType="_int">
		SELECT count(*)
		FROM REWARD
		JOIN MEMBER USING(MEMBER_CODE)
		WHERE REWARD_TYPE=0 AND REWARD_STATUS=1
		<if test='option eq "userId"'>
			AND MEMBER_ID LIKE '%' ||#{keyword}|| '%'
		</if>
		<if test='option eq "userNick"'>
			AND MEMBER_NICKNAME LIKE '%' ||#{keyword}|| '%'
		</if>
	</select>
	
	<select id="searchSingleRewardHistory" resultType="map" parameterType="map">
		SELECT DISTINCT MEMBER_CODE , MEMBER_ID, MEMBER_NICKNAME, MEMBER_ENROLLDATE, MEMBER_AGE, MEMBER_JOB, 
        MEMBER_PHONE, TO_CHAR(REWARD_ISSUEDATE,'yyyymmdd') as REWARD_ISSUEDATE, REWARD_STATUS,REWARD_CODE, NEEDLEVEL_LEVEL, CATEGORY_NAME
        FROM(
        SELECT  MEMBER_CODE , MEMBER_ID, MEMBER_NICKNAME, MEMBER_ENROLLDATE, MEMBER_AGE, MEMBER_JOB, 
        MEMBER_PHONE, REWARD_ISSUEDATE, REWARD_CODE,REWARD_STATUS, NEEDLEVEL_LEVEL, LISTAGG(CATEGORY_NAME,',') within group (order by REWARD_ISSUEDATE) OVER (PARTITION BY MEMBER_CODE) AS CATEGORY_NAME
		FROM(
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_NICKNAME, M.MEMBER_ENROLLDATE, M.MEMBER_AGE, M.MEMBER_JOB, 
		       M.MEMBER_PHONE,R.REWARD_ISSUEDATE, R.REWARD_STATUS,R.REWARD_CODE, NL.NEEDLEVEL_LEVEL, C.CATEGORY_NAME 
		FROM MEMBER M
		JOIN INTERESTCATEGORY IC ON (M.MEMBER_CODE = IC.MEMBER_CODE)
		JOIN CATEGORY C ON (IC.CATEGORY_CODE = C.CATEGORY_CODE)
		JOIN REWARD R ON (M.MEMBER_CODE = R.MEMBER_CODE)
		JOIN NEED N ON (N.MEMBER_CODE = M.MEMBER_CODE)
		JOIN NEEDLEVEL NL ON (N.NEEDLEVEL_CODE = NL.NEEDLEVEL_CODE)
		WHERE R.REWARD_STATUS = 1 AND R.REWARD_TYPE = 0 AND M.MEMBER_CODE IS NOT NULL AND
		1=1
		<if test='option eq null'>
			))
		</if>
		<if test='option eq "userId"'>
			AND MEMBER_ID LIKE '%' ||#{keyword}|| '%' ))
		</if>
		<if test='option eq "userNick"'>
			AND MEMBER_NICKNAME LIKE '%' ||#{keyword}|| '%'))
		</if>
	</select>
	

	
	<select id="selectImgAndLink" parameterType="_int" resultType="map">
		SELECT pr.PR_CODE, pr.PR_LINK, pr.CATEGORY_CODE, pr.PR_STATUS, f.FILES_NAME
		FROM PR pr
		LEFT JOIN FILES f ON(pr.PR_CODE = f.PR_CODE)
		WHERE CATEGORY_CODE IN(SELECT CATEGORY_CODE
		                       FROM INTERESTCATEGORY
		                       WHERE MEMBER_CODE = (SELECT MEMBER_CODE
		                                       FROM MEMBER
		                                       WHERE MEMBER_CODE = #{member_Code}))
		AND pr.PR_STATUS = 0
		AND pr.PR_TYPE = 1
		<![CDATA[
			AND ROWNUM <= 2
		]]>
		AND f.FILES_STATUS = 0
		AND f.FILES_ORDER = 0
	</select>
	
	<select id="selectPRCount" parameterType="map" resultType="_int">
		SELECT COUNT(PRCOUNT_CODE)
		FROM PRCOUNT
		WHERE PR_CODE = #{pr_Code}
		AND MEMBER_CODE = #{member_Code}
	</select>
	
	<insert id="insertPRCount" parameterType="map">
		INSERT INTO PRCOUNT(PRCOUNT_CODE,PRCOUNT_DATE,MEMBER_CODE,PR_CODE)
		VALUES(SEQ_PRCOUNT_PRCOUNT_CODE.NEXTVAL,SYSDATE,#{member_Code},#{pr_Code})
	</insert>

	<select id="getGroupRewardList" resultType="map" parameterType="map">
	    <![CDATA[
	 SELECT  MONTH_ST, MONTH_END, STUDYGROUP_CODE, CATEGORY_NAME, GR_MONTH_TOTAL, RK, STUDYGROUP_NAME,STUDYGROUP_STDATE, STUDYGROUP_GOALTIME,REWARD_STATUS
     FROM (
     SELECT MONTH_ST, MONTH_END, STUDYGROUP_CODE, CATEGORY_NAME, GR_MONTH_TOTAL, RANK() OVER (PARTITION BY CATEGORY_NAME ORDER BY GR_MONTH_TOTAL DESC) AS "RK",STUDYGROUP_NAME,STUDYGROUP_STDATE,STUDYGROUP_GOALTIME,NVL(REWARD_STATUS, 0
     ) REWARD_STATUS
     FROM ( SELECT STUDYGROUP_CODE, CATEGORY_NAME, SUM(STUDYTIME_STUDYTIME) AS "GR_MONTH_TOTAL" ,STUDYGROUP_NAME ,STUDYGROUP_STDATE,STUDYGROUP_GOALTIME ,  REWARD_STATUS 
       FROM STUDYTIME 
       JOIN STUDYGROUP USING(STUDYGROUP_CODE)
       LEFT JOIN REWARD USING(STUDYGROUP_CODE)
       JOIN CATEGORY USING(CATEGORY_CODE)
       WHERE STUDYTIME_DIVISION = 1
       AND STUDYTIME_DATE BETWEEN TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'),-1), 'YYYYMMDD') AND TO_CHAR(ADD_MONTHS(LAST_DAY(SYSDATE),-1), 'YYYYMMDD')
       GROUP BY STUDYGROUP_CODE, CATEGORY_NAME,STUDYGROUP_NAME,STUDYGROUP_STDATE,STUDYGROUP_GOALTIME,REWARD_STATUS),
     ( SELECT TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'),-1), 'YYYYMMDD') "MONTH_ST",
             TO_CHAR(ADD_MONTHS(LAST_DAY(SYSDATE),-1), 'YYYYMMDD') "MONTH_END"
       FROM DUAL ))
       WHERE RK <=3
       ]]>
	</select>
	
	<select id="searchGroupRewardHistory" resultType="map" parameterType="map">
		SELECT STUDYGROUP_CODE, TO_CHAR(REWARD_ISSUEDATE,'yyyy-mm-dd')as REWARD_ISSUEDATE, STUDYGROUP_NAME, TO_CHAR(STUDYGROUP_STDATE,'yyyy-mm-dd')as STUDYGROUP_STDATE, STUDYGROUP_GOALTIME, CATEGORY_NAME, MEMBER_NICKNAME
		FROM STUDYGROUP
		JOIN MEMBER USING(MEMBER_CODE)
		JOIN REWARD USING(STUDYGROUP_CODE)
		JOIN CATEGORY USING(CATEGORY_CODE)
		WHERE 1=1
		<if test='option eq "전체"'>
		
		</if>
		<if test='option eq "groupCode"'>
			AND STUDYGROUP_CODE LIKE '%' ||#{keyword}|| '%'
		</if>
		<if test='option eq "groupName"'>
			AND STUDYGROUP_NAME LIKE '%' ||#{keyword}|| '%'
		</if>
	
	</select>
	
	
	<select id="getTodayJoinMember" parameterType="map" resultType="map">
		SELECT COUNT(*) AS COUNT
		FROM(
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_ENROLLDATE > SYSDATE-1)
	</select>
	
	<select id="getTotalPenaltyMember" parameterType="map" resultType="map">
		SELECT COUNT(*) AS COUNT
		FROM(
		SELECT MEMBER_CODE
		FROM MEMBER
		WHERE MEMBER_STATUS = 3)
	</select>
	
	<select id="getTotalMember" parameterType="map" resultType="map">
		SELECT COUNT(*) AS COUNT
		FROM(
		SELECT MEMBER_CODE
		FROM MEMBER)
	</select>
	
	<select id="getCategoryMember" parameterType="map" resultType="map">
		SELECT NVL(sum(countM ),0) AS COUNT ,CATEGORY_NAME from (
		SELECT NVL(COUNT(MEMBER_CODE ),0) as countM , C.CATEGORY_NAME 
		FROM INTERESTCATEGORY I
		JOIN CATEGORY C USING ( CATEGORY_CODE )
		GROUP BY C.CATEGORY_NAME
		UNION
		SELECT 0,CATEGORY_NAME FROM CATEGORY) group by CATEGORY_NAME 
	</select>
	
	<select id="getJoinMemberMonth" parameterType="map" resultType="map">
		<![CDATA[
		SELECT COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '01', 1)) jan,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '02', 1)) feb,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '03', 1)) mar,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '04', 1)) apr,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '05', 1)) may,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '06', 1)) june,
              COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '07', 1)) jul,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '08', 1)) aug,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '09', 1)) sep,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '10', 1)) oct,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '11', 1)) nov,
			  COUNT(DECODE(TO_CHAR(MEMBER_ENROLLDATE, 'MM'), '12', 1)) dec,
			  COUNT(*) "전체"
		 FROM MEMBER
		 WHERE TO_CHAR(MEMBER_ENROLLDATE, 'MM') >= '01' AND TO_CHAR(MEMBER_ENROLLDATE, 'MM') <='12'
		 ]]>
	</select>
	
	<select id="todayCreateGroupList" parameterType="map" resultType="map">
		SELECT COUNT(*) as COUNT
		FROM(
		SELECT STUDYGROUP_CODE
		FROM STUDYGROUP
		WHERE STUDYGROUP_STDATE > SYSDATE-1)
	</select>
	<select id="todayCloseGroupList" parameterType="map" resultType="map">
		SELECT COUNT(*) as COUNT
		FROM(
		SELECT STUDYGROUP_CODE
		FROM STUDYGROUP
		WHERE STUDYGROUP_EDDATE > SYSDATE-1)
	</select>
	<select id="totalGroupList" parameterType="map" resultType="map">
		SELECT COUNT(*) as COUNT
		FROM(
		SELECT STUDYGROUP_CODE
		FROM STUDYGROUP WHERE (STUDYGROUP_EDDATE IS NULL))
	</select>
	<select id="categoryGroupList" parameterType="map" resultType="map">
		SELECT MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 1, '고입')),0))AS GOIP,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 2, '대입')),0))AS DAEIP,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 3, '고시')),0))AS GOSI,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 4, '공시')),0))AS GONGSI,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 5, '외국어')),0))AS FOREIGN,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 6, '취준')),0))AS CHIJUN,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 7, '자격증')),0))AS JAGUK,
		MAX(NVL(COUNT(DECODE(CATEGORY_CODE, 8, '기타')),0))AS GUITAR
		FROM STUDYGROUP
		GROUP BY CATEGORY_CODE
	</select>
	
	<select id="weekGroupBoardList" parameterType="map" resultType="map">
		SELECT COUNT(*) as board
		FROM GROUPBOARD
		WHERE (GROUPBOARD_POSTDATE BETWEEN SYSDATE-7 AND SYSDATE)
		UNION
		SELECT COUNT(*) as reply
		FROM REPLY
		WHERE REPLY_DATE BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	<select id="femaleGroupList" parameterType="map" resultType="map">
		SELECT COUNT(*) AS group_female
		FROM JOINGROUP
		JOIN MEMBER USING(MEMBER_CODE)
		WHERE MEMBER_GENDER LIKE 'F'
		UNION
		SELECT COUNT(*) as total_female
		FROM MEMBER
		WHERE MEMBER_GENDER LIKE 'F'
	</select>
	<select id="maleGroupLIst" parameterType="map" resultType="map">
		SELECT COUNT(*) AS group_male
		FROM JOINGROUP
		JOIN MEMBER USING(MEMBER_CODE)
		WHERE MEMBER_GENDER LIKE 'M'
		UNION
		SELECT COUNT(*) as total_male
		FROM MEMBER
		WHERE MEMBER_GENDER LIKE 'M'
	</select>
	<select id="thisMonthBanner" parameterType="map" resultType="map">
		SELECT SUM(PR_CONTRACTMONEY) as thismonth
		FROM PR
		JOIN FILES USING(PR_CODE)
		WHERE FILES_ENROLLDATE BETWEEN TRUNC(sysdate,'MM') AND SYSDATE
	</select>
	<select id="postBanner" parameterType="map" resultType="map">
		SELECT COUNT(*) AS COUNT
		FROM PR
		WHERE PR_STATUS = 0
	</select>
	<select id="totalProfit" parameterType="map" resultType="map">
		SELECT SUM(PR_CONTRACTMONEY) AS TOTAL
		FROM PR
	</select>
	<select id="categoryProfit" parameterType="map" resultType="map">
	   SELECT NVL(SUM(DECODE(CATEGORY_CODE, 1, PR_CONTRACTMONEY)),0) as GOIP,
       NVL(SUM(DECODE(CATEGORY_CODE, 2, PR_CONTRACTMONEY)),0) as DAEIP,
       NVL(SUM(DECODE(CATEGORY_CODE, 3, PR_CONTRACTMONEY)),0) as GOSI,
       NVL(SUM(DECODE(CATEGORY_CODE, 4, PR_CONTRACTMONEY)),0) as GONGSI,
       NVL(SUM(DECODE(CATEGORY_CODE, 5, PR_CONTRACTMONEY)),0) as FOREIGN,
       NVL(SUM(DECODE(CATEGORY_CODE, 6, PR_CONTRACTMONEY)),0) as CHIJUN,
       NVL(SUM(DECODE(CATEGORY_CODE, 7, PR_CONTRACTMONEY)),0) as JAGUK,
       NVL(SUM(DECODE(CATEGORY_CODE, 8, PR_CONTRACTMONEY)),0) as GUITAR
	   FROM PR
	   JOIN FILES USING(PR_CODE)
	   WHERE FILES_ENROLLDATE BETWEEN TRUNC(sysdate,'YY') AND SYSDATE
	</select>
	<select id="CPCandCPPprofit" parameterType="map" resultType="map">
		SELECT  NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '01', PR_CONTRACTMONEY)),0)as jan,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '02', PR_CONTRACTMONEY)),0)as feb,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '03', PR_CONTRACTMONEY)),0)as mar,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '04', PR_CONTRACTMONEY)),0)as apr,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '05', PR_CONTRACTMONEY)),0)as may,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '06', PR_CONTRACTMONEY)),0)as june,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '07', PR_CONTRACTMONEY)),0)as jul,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '08', PR_CONTRACTMONEY)),0)as aug,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '09', PR_CONTRACTMONEY)),0)as sep,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '10', PR_CONTRACTMONEY)),0)as oct,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '11', PR_CONTRACTMONEY)),0)as nov,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '12', PR_CONTRACTMONEY)),0)as dec
		FROM PR
		JOIN FILES USING(PR_CODE)
		WHERE PR_TYPE=0 AND FILES_ENROLLDATE BETWEEN TRUNC(sysdate,'YY') AND SYSDATE
		UNION ALL
		SELECT  NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '01', PR_CONTRACTMONEY)),0)as jan,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '02', PR_CONTRACTMONEY)),0)as feb,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '03', PR_CONTRACTMONEY)),0)as mar,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '04', PR_CONTRACTMONEY)),0)as apr,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '05', PR_CONTRACTMONEY)),0)as may,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '06', PR_CONTRACTMONEY)),0)as june,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '07', PR_CONTRACTMONEY)),0)as jul,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '08', PR_CONTRACTMONEY)),0)as aug,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '09', PR_CONTRACTMONEY)),0)as sep,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '10', PR_CONTRACTMONEY)),0)as oct,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '11', PR_CONTRACTMONEY)),0)as nov,
        NVL(SUM(DECODE(TO_CHAR(FILES_ENROLLDATE, 'MM'), '12', PR_CONTRACTMONEY)),0)as dec
		FROM PR
		JOIN FILES USING(PR_CODE)
		WHERE PR_TYPE=1 AND FILES_ENROLLDATE BETWEEN TRUNC(sysdate,'YY') AND SYSDATE
	</select>
	
	<select id="yesterdayContact" resultType="map" parameterType="map">
		SELECT COUNT(*) AS COUNT
		FROM LOGINRECORD
		WHERE SYSDATE-1 LIKE LOGINRECORD_DATE
	</select>
	<select id="todayContact" resultType="map" parameterType="map">
		SELECT COUNT(*) AS COUNT
		FROM LOGINRECORD
		WHERE SYSDATE LIKE LOGINRECORD_DATE
	</select>
	<select id="totalContact" resultType="map" parameterType="map">
		SELECT COUNT(*) AS COUNT
		FROM LOGINRECORD
	</select>
	<select id="contactByTime" resultType="map" parameterType="map">
		SELECT COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'01',1)) as one,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'02',1)) as two,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'03',1)) as three,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'04',1)) as four,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'05',1)) as five,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'06',1)) as six,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'07',1)) as seven,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'08',1)) as eight,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'09',1)) as nine,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'10',1)) as ten,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'11',1)) as eleven,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'12',1)) as twelve,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'13',1)) as thirteen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'14',1)) as fourteen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'15',1)) as fifteen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'16',1)) as sixteen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'17',1)) as seventeen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'18',1)) as eighteen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'18',1)) as nineteen,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'20',1)) as twenty,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'21',1)) as twentyone,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'22',1)) as twentytwo,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'23',1)) as twentythree,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'HH24'),'00',1)) as twentyfour
		FROM LOGINRECORD
		WHERE LOGINRECORD_DATE BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	<select id="contactByDay" resultType="map" parameterType="map">
		SELECT COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '월', 1)) as mon,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '화', 1)) as tue,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '수', 1)) as wed,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '목', 1)) as thur,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '금', 1)) as fri,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '토', 1)) as sat,
		       COUNT(DECODE(TO_CHAR(LOGINRECORD_DATE, 'DY'), '일', 1)) as sun
		FROM LOGINRECORD
 		WHERE LOGINRECORD_DATE BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	
	<select id="selectNotice" resultType="map" parameterType="map">
		SELECT NOTICE_CODE,NOTICE_TITLE, NOTICE_CONTENT,
		       NOTICE_ENROLLDATE,NOTICE_DELETEDATE,NOTICE_STATUS,NOTICE_COUNT
		FROM NOTICE
		WHERE NOTICE_CODE= #{noticeCode}
	</select>
	
	<select id="getUserCodeByPhone" resultType="map" parameterType="map">
		SELECT MEMBER_CODE
		FROM MEMBER
		WHERE PHONE = #{rphone}
	</select>
</mapper>