<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Block">
	<resultMap type="Goal" id="goalResultSet">
  		<id property="goalCode" column="GOAL_CODE"/>
  		<result property="memberCode" column="MEMBER_CODE"/>
  		<result property="memberNickName" column="MEMBER_NICKNAME"/>
  		<result property="goalEnrollDate" column="GOAL_ENROLLDATE"/>
		<result property="goalContent" column="GOAL_CONTENT"/>
		<result property="goalType" column="GOAL_TYPE"/> 
		<result property="goalGoalAmount" column="GOAL_GOALAMOUNT"/>
		<result property="goalAchieveAmount" column="GOAL_ACHIEVEAMOUNT"/> 	
		<result property="gaolISBN" column="GOAL_ISBN"/>
		<result property="goalDivision" column="GOAL_DIVISION"/>
  	</resultMap>


	<resultMap type="SGDetail" id="studyGroupResultSet">
		<id property="studyGroup_Code" column="STUDYGROUP_CODE"/>
		<result property="member_Code" column="MEMBER_CODE"/>
		<result property="member_NickName" column="MEMBER_NICKNAME"/>
		<result property="studyGroup_Name" column="STUDYGROUP_NAME"/>
		<result property="location_Name" column="LOCATION_NAME"/>
		<result property="studyGroup_GoalTime" column="STUDYGROUP_GOALTIME"/>
		<result property="studyGroup_MaxNum" column="STUDYGROUP_MAXNUM"/>
		<result property="studyGroup_Intro" column="STUDYGROUP_INTRO"/>
		<result property="studyGroup_StDate" column="STUDYGROUP_STDATE"/>
		<result property="syudyGroup_Status" column="STUDYGROUP_STATUS"/>
		<result property="studyGroup_EdDate" column="STUDYGROUP_EDDATE"/>
		<result property="categroy_Name" column="CATEGORY_NAME"/>
		<result property="studyGroup_OpenStatus" column="STUDYGROUP_OPENSTATUS"/>
		<result property="studyGroup_Pwd" column="STUDYGROUP_PWD"/>
		<result property="groupTotalStudyTime" column="TOTAL_STUDY_TIME"/>
	</resultMap>
	<!-- 오늘의 목표 리스트 -->
	<select id="selectGoalListAindTimes" resultMap="goalResultSet" parameterType="_int">
		SELECT G.GOAL_CODE, M.MEMBER_CODE, M.MEMBER_NICKNAME, G.GOAL_ENROLLDATE,
			   G.GOAL_CONTENT,G.GOAL_TYPE,G.GOAL_GOALAMOUNT,G.GOAL_ACHIEVEAMOUNT,
			   G.GOAL_ISBN,G.GOAL_DIVISION
		FROM GOAL G
		JOIN MEMBER M ON ( G.MEMBER_CODE = M.MEMBER_CODE)
		WHERE G.MEMBER_CODE = #{member_Code}
		AND TO_CHAR(GOAL_ENROLLDATE,'YYYY/MM/DD') = TO_CHAR(SYSDATE,'YYYY/MM/DD')
	</select>
	
	<!-- 내가 가입한 그룹 리스트와, 그룹별 오늘 공부 총량 -->
	<select id="selectGroupListAndTimes" resultMap="studyGroupResultSet" parameterType="_int">
		SELECT J.STUDYGROUP_CODE,G.STUDYGROUP_NAME,LOCATION_NAME,G.STUDYGROUP_GOALTIME,
		       G.STUDYGROUP_INTRO,C.CATEGORY_NAME,NVL(INTIME,0 ) AS "TOTAL_STUDY_TIME" FROM JOINGROUP J
		LEFT JOIN ( SELECT STUDYGROUP_CODE AS "IN_GROUP_CODE" ,SUM(STUDYTIME_STUDYTIME) AS INTIME
		            FROM STUDYTIME
		            WHERE MEMBER_CODE = #{member_Code}
		            AND TO_CHAR(STUDYTIME_DATE,'YYYY/MM/DD') = TO_CHAR(SYSDATE,'YYYY/MM/DD')
		            AND STUDYTIME_DIVISION = 1
		            GROUP BY STUDYGROUP_CODE
		            ORDER BY STUDYGROUP_CODE) I ON ( STUDYGROUP_CODE = IN_GROUP_CODE )
		LEFT JOIN STUDYGROUP G ON ( J.STUDYGROUP_CODE = G.STUDYGROUP_CODE )
		JOIN CATEGORY C ON ( G.CATEGORY_CODE = C.CATEGORY_CODE )
		JOIN LOCATION L ON ( L.LOCATION_CODE = G.LOCATION_CODE  ) 
		WHERE J.MEMBER_CODE = #{member_Code}
		AND JOINGROUP_STATUS = 0
		AND G.STUDYGROUP_STATUS = 0
	</select>
	
	<select id="selectTodayStudyTime" resultType="_int" parameterType="_int">
		SELECT NVL(SUM(STUDYTIME_STUDYTIME),0)
		FROM STUDYTIME
		WHERE MEMBER_CODE = #{member_Code}
		AND TO_CHAR(STUDYTIME_DATE,'YYYY/MM/DD') = TO_CHAR(SYSDATE,'YYYY/MM/DD')
		AND STUDYTIME_DIVISION = 0
	</select>
</mapper>