<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Block">
	<resultMap type="Goal" id="goalResultSet">
  		<id property="goalCode" column="GOAL_CODE"/>
  		<result property="memberCode" column="MEMBER_CODE"/>
  		<result property="memberNickName" column="MEMBER_NICKNAME"/>
  		<result property="goalEnrollDate" column="GOAL_ENROLLDATE"/>
		<result property="goalContent" column="GOAL_CONTENT"/>
		<result property="goalType" column="GOAL_TYPE"/> 
		<result property="goalGoalAmount" column="GOAL_GOALAMOUNT"/>
		<result property="goalAchieveAmount" column="GOAL_ACHIEVEAMOUNT"/> 	
		<result property="gaolISBN" column="GOAL_ISBN"/>
		<result property="goalDivision" column="GOAL_DIVISION"/>
  	</resultMap>


	<resultMap type="SGDetail" id="studyGroupResultSet">
		<id property="studyGroup_Code" column="STUDYGROUP_CODE"/>
		<result property="member_Code" column="MEMBER_CODE"/>
		<result property="member_NickName" column="MEMBER_NICKNAME"/>
		<result property="studyGroup_Name" column="STUDYGROUP_NAME"/>
		<result property="location_Name" column="LOCATION_NAME"/>
		<result property="studyGroup_GoalTime" column="STUDYGROUP_GOALTIME"/>
		<result property="studyGroup_MaxNum" column="STUDYGROUP_MAXNUM"/>
		<result property="studyGroup_Intro" column="STUDYGROUP_INTRO"/>
		<result property="studyGroup_StDate" column="STUDYGROUP_STDATE"/>
		<result property="syudyGroup_Status" column="STUDYGROUP_STATUS"/>
		<result property="studyGroup_EdDate" column="STUDYGROUP_EDDATE"/>
		<result property="categroy_Name" column="CATEGORY_NAME"/>
		<result property="studyGroup_OpenStatus" column="STUDYGROUP_OPENSTATUS"/>
		<result property="studyGroup_Pwd" column="STUDYGROUP_PWD"/>
		<result property="groupTotalStudyTime" column="TOTAL_STUDY_TIME"/>
	</resultMap>
	<!-- 오늘의 목표 리스트 -->
	<select id="selectGoalListAindTimes" resultMap="goalResultSet" parameterType="_int">
		SELECT G.GOAL_CODE, M.MEMBER_CODE, M.MEMBER_NICKNAME, G.GOAL_ENROLLDATE,
			   G.GOAL_CONTENT,G.GOAL_TYPE,G.GOAL_GOALAMOUNT,G.GOAL_ACHIEVEAMOUNT,
			   G.GOAL_ISBN,G.GOAL_DIVISION
		FROM GOAL G
		JOIN MEMBER M ON ( G.MEMBER_CODE = M.MEMBER_CODE)
		WHERE G.MEMBER_CODE = #{member_Code}
		AND TO_CHAR(GOAL_ENROLLDATE,'YYYY/MM/DD') = TO_CHAR(SYSDATE,'YYYY/MM/DD')
	</select>
	
	<!-- 내가 가입한 그룹 리스트와, 그룹별 오늘 공부 총량 -->
	<select id="selectGroupListAndTimes" resultMap="studyGroupResultSet" parameterType="_int">

		SELECT 	S.STUDYGROUP_CODE, S.MEMBER_CODE, M.MEMBER_NICKNAME, S.STUDYGROUP_NAME,
	       	   	L.LOCATION_NAME, S.STUDYGROUP_GOALTIME, S.STUDYGROUP_MAXNUM, S.STUDYGROUP_INTRO,
	       	 	S.STUDYGROUP_STDATE,S.STUDYGROUP_STATUS,S.STUDYGROUP_EDDATE,C.CATEGORY_NAME, S.STUDYGROUP_OPENSTATUS,
	       		S.STUDYGROUP_PWD ,NVL(SUM ( T.STUDYTIME_STUDYTIME ),0) AS "TOTAL_STUDY_TIME"
		FROM STUDYGROUP S
		LEFT JOIN CATEGORY C ON ( S.CATEGORY_CODE = C.CATEGORY_CODE )
		LEFT JOIN LOCATION L ON ( S.LOCATION_CODE = L.LOCATION_CODE )
		LEFT JOIN MEMBER M ON ( S.MEMBER_CODE = M.MEMBER_CODE )
		LEFT JOIN STUDYTIME T ON ( S.STUDYGROUP_CODE = T.STUDYGROUP_CODE )
		WHERE S.MEMBER_CODE = #{member_Code}
		AND S.STUDYGROUP_CODE IN ( SELECT G.STUDYGROUP_CODE 
	                           		FROM STUDYGROUP G
	                           		JOIN JOINGROUP I ON ( G.STUDYGROUP_CODE = I.STUDYGROUP_CODE)
	                           		WHERE I.MEMBER_CODE = #{member_Code}
	                           		AND I.JOINGROUP_STATUS = 0
	                               ) 
		AND TO_CHAR(NVL(T.STUDYTIME_DATE,SYSDATE),'YYYY/MM/DD') = TO_CHAR(SYSDATE,'YYYY/MM/DD')
		GROUP BY S.STUDYGROUP_CODE, S.MEMBER_CODE, M.MEMBER_NICKNAME, S.STUDYGROUP_NAME,
	       	  	 L.LOCATION_NAME, S.STUDYGROUP_GOALTIME, S.STUDYGROUP_MAXNUM, S.STUDYGROUP_INTRO,
	       		 S.STUDYGROUP_STDATE,S.STUDYGROUP_STATUS,S.STUDYGROUP_EDDATE,C.CATEGORY_NAME, S.STUDYGROUP_OPENSTATUS,
	       		 S.STUDYGROUP_PWD
		ORDER BY S.STUDYGROUP_CODE
	</select>
</mapper>