<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChatMapper">

	<insert id="createRoom">
		INSERT INTO CHATROOM
		VALUES (SEQ_CHATROOM.NEXTVAL, #{MEMBER1_CODE} , #{MEMBER2_CODE} )
	</insert>
</mapper>