<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Game">

	<resultMap type="PlayGameUsers" id="playGameUsersResultSet">
		<id property="user_Code" column="MEMBER_CODE"/>
		<result property="startgame_Time" column="STARTGAME_TIME"/>
		<result property="location_Name" column="LOCATION_NAME" />
		<result property="member_Job" column="MEMBER_JOB"/>
	</resultMap>


	<insert id="inusertGameUserInfo" parameterType="_int">
		INSERT INTO
		STUDYGAME
		VALUES (#{member_code}, SYSDATE)
	</insert>


	<delete id="deleteGameUserInfo" parameterType="_int">
		DELETE FROM
		STUDYGAME
		WHERE MEMBER_CODE = #{member_code}
	</delete>


	<select id="selectGamePlayer" parameterType="_int" resultMap="playGameUsersResultSet" >
		SELECT SG.MEMBER_CODE , SG.STARTGAME_TIME ,
		L.LOCATION_NAME , M.MEMBER_JOB
		FROM STUDYGAME SG
		JOIN MEMBER M ON ( SG.MEMBER_CODE = M.MEMBER_CODE )
		JOIN LOCATION L ON ( M.LOCATION_CODE = L.LOCATION_CODE )
        
		WHERE (M.LOCATION_CODE = ( SELECT LOCATION_CODE 
								  FROM MEMBER 
								  WHERE MEMBER_CODE = #{member_code})
        OR M.MEMBER_JOB = ( SELECT MEMBER_JOB 
							   FROM MEMBER 
							   WHERE MEMBER_CODE = #{member_code}))
		AND M.MEMBER_CODE != #{member_code}
	</select>
	
	<select id="selectGamePlayerList" resultType="_int">
	
	</select>
	
	
</mapper>