<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Member">
	<resultMap type="Member" id="memberResultSet">
		<id property="member_Code" column="member_Code"></id>
		<result property="member_Id" column="member_Id"/>
		<result property="member_Pwd" column="member_Pwd"/>
		<result property="member_Nickname" column="member_Nickname"/>
		<result property="member_EnrollDate" column="member_EnrollDate"/>
		<result property="member_Status" column="member_Status"/>
		<result property="member_Class" column="member_Class"/>
		<result property="member_Introduction" column="member_Introduction"/>
		<result property="member_Age" column="member_Age"/>
		<result property="member_Job" column="member_Job"/>
		<result property="member_Gender" column="member_Gender"/>
		<result property="location_Code" column="location_Code"/>
		<result property="location_Name" column="LOCATION_NAME"/>
		<result property="member_Phone" column="member_Phone"/>
		<result property="member_SMSConfirmation" column="member_SMSConfirmation"/>
		<collection property="member_Files" javaType="MemberFiles" resultMap="filesSet"/>
		<collection property="category_Name" javaType="java.util.ArrayList" resultMap="interestCategoryResultSet"/>
	</resultMap>
	
	<resultMap type="InterestCategory" id="interestCategoryResultSet">
		<result property="category_Name" column="category_Name"/>
	</resultMap>
	
	<resultMap type="MemberFiles" id="filesSet">
		<id property="files_Code" column="files_Code"/>
		<result property="files_BoardType" column="fileBoardType"/>
		<result property="files_OriginName" column="files_OriginName"/>
		<result property="files_Name" column="files_Name"/>
		<result property="files_EnrollDate" column="files_EnrollDate"/>
		<result property="files_Status" column="files_Status"/>
		<result property="files_DeleteDate" column="files_DeleteDate"/>
		<result property="member_Code" column="member_Code"/>
		<result property="group_Code" column="group_Code"/>
		<result property="pr_Code" column="pr_Code"/>
		<result property="board_Code" column="board_Code"/>
	</resultMap>
	
	<select id="selectPwd" parameterType="Member" resultType="java.lang.String">
		SELECT MEMBER_PWD
		FROM MEMBER
		WHERE MEMBER_ID = #{member_Id}
		AND MEMBER_STATUS = 0
	</select>
	
	<select id="selectMemberCode" resultType="_int" parameterType="java.lang.String">
		SELECT MEMBER_CODE
		FROM MEMBER
		WHERE MEMBER_ID = #{member_Id}
		AND MEMBER_STATUS = 0
	</select>
	
	<select id="selectLoginUser" parameterType="Member" resultMap="memberResultSet">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_PWD, M.MEMBER_NICKNAME, M.MEMBER_ENROLLDATE, M.MEMBER_STATUS, M.MEMBER_CLASS, M.MEMBER_INTRODUCTION, M.MEMBER_AGE, M.MEMBER_JOB, M.MEMBER_PHONE, M.MEMBER_SMSCONFIRMATION, M.MEMBER_GENDER, L.LOCATION_NAME, C.CATEGORY_NAME, F.FILES_CODE, F.FILES_BOARDTYPE, F.FILES_NAME, NL.NEEDLEVEL_LEVEL
		FROM MEMBER M
		JOIN LOCATION L ON(M.LOCATION_CODE = L.LOCATION_CODE)
		LEFT JOIN INTERESTCATEGORY IC ON(M.MEMBER_CODE = IC.MEMBER_CODE) 
		LEFT JOIN CATEGORY C ON(IC.CATEGORY_CODE = C.CATEGORY_CODE)
		JOIN FILES F ON(M.MEMBER_CODE = F.MEMBER_CODE)
		JOIN NEED N ON(M.MEMBER_CODE = N.MEMBER_CODE)
		JOIN NEEDLEVEL NL ON(N.NEEDLEVEL_CODE = NL.NEEDLEVEL_CODE)
		WHERE M.MEMBER_ID = #{member_Id}
		AND M.MEMBER_STATUS = 0
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MEMBER_MEMBER_CODE.NEXTVAL, #{member_Id}, #{member_Pwd}, #{member_Nickname}, SYSDATE, 0, null, 0, #{member_Introduction}, #{member_Age}, #{member_Job}, #{location_Code}, #{member_Phone}, #{member_SMSConfirmation}, #{member_Gender})
	</insert>
	
	<insert id="insertMemberNeed" parameterType="_int">
		INSERT INTO NEED
		VALUES(SEQ_NEED_NEED_CODE.NEXTVAL, #{member_Code}, 1)
	</insert>
	
	<insert id="insertMemberFiles" parameterType="MemberFiles">
		INSERT INTO FILES
		VALUES(SEQ_FILES_FILES_CODE.NEXTVAL, 0, #{files_OriginName}, #{files_Name}, SYSDATE, 0, null, #{member_Code}, null, null, null, 0)
	</insert>
	
	<insert id="insertMemberInterestCategory" parameterType="java.util.HashMap">
			<foreach collection="interestCategory" item="item" open="INSERT ALL " close=" SELECT * FROM DUAL">
				INTO INTERESTCATEGORY
				VALUES(#{item.member_Code}, #{item.category_Code})
			</foreach>
	</insert>
	
	<insert id="insertGift" parameterType="_int">
		INSERT INTO REWARD 
		(REWARD_CODE, REWARD_TYPE, REWARD_STATUS, MEMBER_CODE, REWARD_APPDATE) 
		VALUES (SEQ_REWARD_REWARD_CODE.NEXTVAL, 0, 0, #{member_Code}, SYSDATE)
  	</insert>
  
	<insert id="insertMemberHistory" parameterType="Member">
		INSERT INTO LOGINRECORD VALUES (SEQ_LOGINRECORD_LOGRECORD_CODE.NEXTVAL+20 , #{loginUser.member_Code}, SYSDATE)
	</insert>
	
	<select id="selectUserId" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(MEMBER_CODE)
		FROM MEMBER
		WHERE MEMBER_ID = #{member_Id}
	</select>
	
	<select id="selectNickname" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(MEMBER_CODE)
		FROM MEMBER
		WHERE MEMBER_NICKNAME = #{member_Nickname}
	</select>
</mapper>