<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Messenger">
	<resultMap type="Member" id="friendsResultSet">
		<id property="member_Code" column="member_Code"></id>
		<result property="member_Id" column="member_Id" />
		<result property="member_Pwd" column="member_Pwd" />
		<result property="member_Nickname" column="member_Nickname" />
		<result property="member_EnrollDate" column="member_EnrollDate" />
		<result property="member_Status" column="member_Status" />
		<result property="member_Class" column="member_Class" />
		<result property="member_Introduction"
			column="member_Introduction" />
		<result property="member_Age" column="member_Age" />
		<result property="member_Job" column="member_Job" />
		<result property="member_Gender" column="member_Gender" />
		<result property="location_Code" column="location_Code" />
		<result property="member_Phone" column="member_Phone" />
		<result property="member_SMSConfirmation"
			column="member_SMSConfirmation" />
		<collection property="member_Files" javaType="MemberFiles"
			resultMap="friendfilesSet" />
	</resultMap>

	<resultMap type="MemberFiles" id="friendfilesSet">
		<id property="files_Code" column="files_Code" />
		<result property="files_BoardType" column="fileBoardType" />
		<result property="files_OriginName" column="files_OriginName" />
		<result property="files_Name" column="files_Name" />
		<result property="files_EnrollDate" column="files_EnrollDate" />
		<result property="files_Status" column="files_Status" />
		<result property="files_DeleteDate" column="files_DeleteDate" />
		<result property="member_Code" column="member_Code" />
		<result property="group_Code" column="group_Code" />
		<result property="pr_Code" column="pr_Code" />
		<result property="board_Code" column="board_Code" />
	</resultMap>

	<resultMap type="Message" id="messageResultSet">
		<id property="message_code" column="message_code"></id>
		<result property="sender_message_code" column="sender_message_code" />
		<result property="receiver_message_code" column="receiver_message_code" />
		<result property="receiver_group_code" column="receiver_group_code" />
		<result property="message_status" column="message_status" />
		<result property="message_type" column="message_type" />
		<result property="message_send_date" column="send_date" />
		<result property="message_content" column="message_content" />
		<result property="sender_nickName" column="sender_nickName" />
		<result property="sender_img_name" column="sender_img_name" />
	</resultMap>
	
	<select id="selectFriendList" parameterType="_int"
		resultMap="friendsResultSet">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_PWD, M.MEMBER_NICKNAME,
		M.MEMBER_ENROLLDATE, M.MEMBER_STATUS, M.MEMBER_CLASS,
		M.MEMBER_INTRODUCTION, M.MEMBER_AGE, M.MEMBER_JOB, M.MEMBER_PHONE,
		M.MEMBER_SMSCONFIRMATION, M.MEMBER_GENDER, L.LOCATION_NAME,
		F.FILES_CODE, F.FILES_BOARDTYPE, F.FILES_NAME, NL.NEEDLEVEL_LEVEL
		FROM MEMBER M
		JOIN LOCATION L ON(M.LOCATION_CODE = L.LOCATION_CODE)
		JOIN FILES F ON(M.MEMBER_CODE = F.MEMBER_CODE)
		JOIN NEED N ON(M.MEMBER_CODE = N.MEMBER_CODE)
		JOIN NEEDLEVEL NL ON(N.NEEDLEVEL_CODE = NL.NEEDLEVEL_CODE)
		WHERE M.MEMBER_CODE IN (SELECT MEMBER_CODE1 FROM FRIEND WHERE MEMBER_CODE2 = #{ member_Code })
		OR M.MEMBER_CODE IN (SELECT MEMBER_CODE2 FROM FRIEND WHERE MEMBER_CODE1 = #{ member_Code })
		AND M.MEMBER_STATUS = 0
	</select>
	
	<select id="selectReceiverMemberCode" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT MEMBER_CODE
		FROM MEMBER
		WHERE MEMBER_NICKNAME = #{nickname}
	</select>

	<insert id="insertMessage" parameterType="Message">
		INSERT INTO MESSAGE (MESSAGE_CODE, SENDER_MESSAGE_CODE, RECEIVER_MESSAGE_CODE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_TYPE, SEND_DATE)
		VALUES(SEQ_MESSAGE_MESSAGE_CODE.NEXTVAL, #{sender_message_code}, #{receiver_message_code}, #{message_content}, #{message_status}, #{message_type}, SYSDATE)
	</insert>
	
	<select id="selectMessageList" parameterType="Message" resultMap="messageResultSet">
		SELECT MS.*, M.MEMBER_NICKNAME AS sender_nickName, F.FILES_NAME AS sender_img_name
		FROM MESSAGE MS
		JOIN MEMBER M ON(M.MEMBER_CODE = MS.SENDER_MESSAGE_CODE)
		JOIN FILES F ON(M.MEMBER_CODE = F.MEMBER_CODE)
		WHERE (SENDER_MESSAGE_CODE = #{sender_message_code} AND RECEIVER_MESSAGE_CODE = #{receiver_message_code})
		OR (SENDER_MESSAGE_CODE = #{receiver_message_code} AND RECEIVER_MESSAGE_CODE = #{sender_message_code})
		ORDER BY SEND_DATE
	</select>
	
	<select id="selectSenderMember" parameterType="_int" resultMap="friendsResultSet">
		SELECT M.MEMBER_CODE, M.MEMBER_ID, M.MEMBER_PWD, M.MEMBER_NICKNAME,
		M.MEMBER_ENROLLDATE, M.MEMBER_STATUS, M.MEMBER_CLASS,
		M.MEMBER_INTRODUCTION, M.MEMBER_AGE, M.MEMBER_JOB, M.MEMBER_PHONE,
		M.MEMBER_SMSCONFIRMATION, M.MEMBER_GENDER, F.FILES_NAME
		FROM MEMBER M
		JOIN FILES F ON(M.MEMBER_CODE = F.MEMBER_CODE)
		WHERE M.MEMBER_CODE = #{member_Code}
	</select>
	
	<select id="selectUnreadMessage" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM MESSAGE
		WHERE RECEIVER_MESSAGE_CODE = #{member_Code}
		AND MESSAGE_STATUS = 0
	</select>
	
	<update id="unreadToRead" parameterType="map">
		UPDATE MESSAGE 
		SET MESSAGE_STATUS = 1 
		WHERE SENDER_MESSAGE_CODE = #{receiver_member_code}
		AND RECEIVER_MESSAGE_CODE = #{member_Code}
		AND MESSAGE_STATUS = 0
	</update>
	
	<select id="selectEachUnreadMessage" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM MESSAGE
		WHERE MESSAGE_STATUS = 0
		AND SENDER_MESSAGE_CODE = #{eachFriendMemberCode}
		AND RECEIVER_MESSAGE_CODE = #{member_Code}
	</select>
	
	<select id="selcectMemberProfile" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT FILES_NAME
		FROM FILES
		JOIN MEMBER USING(MEMBER_CODE)
		WHERE FILES_BOARDTYPE = 0
		AND MEMBER_NICKNAME = #{member_Nickname}
	</select>
</mapper>