<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SGDetail">

	<resultMap type="always.awake.studyplus.sgDetail.model.vo.SGDetail" id="SGDetailResultSet">
		<id property="studyGroup_Code" column="STUDYGROUP_CODE"/>
		
		<result property="studyGroup_Code" column="STUDYGROUP_CODE"/>
		<result property="studyGroup_Name" column="STUDYGROUP_NAME"/>
		<result property="member_Code" column="MEMBER_CODE"/>	<!-- 로그인 유저 코드 -->
		<result property="member_NickName" column="MEMBER_NICKNAME"/>
		<result property="location_Code" column="LOCATION_CODE"/>
		<result property="location_Name" column="LOCATION_NAME"/>
		<result property="category_Code" column="CATEGORY_CODE"/>
		<result property="category_Name" column="CATEGORY_NAME"/> <!-- //* -->
		<result property="studyGroup_GoalTime" column="STUDYGROUP_GOALTIME"/>
		<result property="studyGroup_MaxNum" column="STUDYGROUP_MAXNUM"/>
		<result property="studyGroup_Intro" column="STUDYGROUP_INTRO"/>
		<result property="studyGroup_Status" column="STUDYGROUP_STATUS"/> <!-- //** -->
		<result property="studyGroup_StDate" column="STUDYGROUP_STDATE"/>
		<result property="studyGroup_EdDate" column="STUDYGROUP_EDDATE"/>
		<result property="studyGroup_OpenStatus" column="STUDYGROUP_OPENSTATUS"/>
		<result property="studyGroup_Pwd" column="STUDYGROUP_PWD"/>
		
		<result property="gr_Mem_Count" column="GR_MEM_CNT"/> <!-- //* -->
		<result property="gr_Dates" column="GR_DATES"/> <!-- //* -->
		<result property="gr_Day_Total" column="GR_DAY_TOTAL"/> <!-- //* -->
		<result property="my_Day_Total" column="MY_DAY_TOTAL"/> <!-- //* -->
		<result property="gr_Fulfill_Mem_Cnt" column="GR_FULFILL_MEM_CNT"/> <!-- //* -->		
	</resultMap>
	
	<select id="selectJoinStatus" resultType="_int" parameterType="hashmap">
		SELECT COUNT(*) AS "JOINSTATUS"
		FROM JOINGROUP JG
		WHERE STUDYGROUP_CODE = #{ sgCode } AND JOINGROUP_STATUS = 0 AND MEMBER_CODE = #{ memCode }
	</select>
	
<!-- 	*//중요//* => TO_DATE('2018/11/02') -> SYSDATE로 날짜 변경하기 -->
	<!-- select 그룹  detail 쿼리 -->
	<select id="selectOneGroup" resultMap="SGDetailResultSet" parameterType="map">
		WITH GR_TOTAL AS (
		                SELECT STUDYTIME_DATE, STUDYGROUP_CODE, MEMBER_CODE, GR_MEM_DAY_TOTAL, GR_MEM_CNT,
		                       LOCATION_NAME, CATEGORY_NAME, STUDYGROUP_NAME, STUDYGROUP_INTRO, STUDYGROUP_GOALTIME,
		                       STUDYGROUP_MAXNUM, STUDYGROUP_STDATE, GR_DATES
		                FROM ( SELECT STUDYTIME_DATE, STUDYGROUP_CODE, MEMBER_CODE, STUDYTIME_STUDYTIME  AS "GR_MEM_DAY_TOTAL", GR_MEM_CNT
		                       FROM STUDYTIME,
		                       		( SELECT COUNT(*) AS "GR_MEM_CNT" FROM JOINGROUP
		                       		  WHERE STUDYGROUP_CODE = #{ sgCode } AND JOINGROUP_STATUS = 0 )
		                       WHERE (STUDYGROUP_CODE, MEMBER_CODE) IN ( SELECT STUDYGROUP_CODE, MEMBER_CODE 
		                                                                FROM JOINGROUP
		                                                                WHERE STUDYGROUP_CODE = #{ sgCode } AND JOINGROUP_STATUS = 0 )
		                       AND STUDYTIME_DATE LIKE <!-- SYSDATE --> TO_DATE('2018/11/02') )
		                JOIN ( SELECT L.LOCATION_NAME AS "LOCATION_NAME", C.CATEGORY_NAME AS "CATEGORY_NAME",
		                              STUDYGROUP_NAME, STUDYGROUP_INTRO, (STUDYGROUP_GOALTIME / 3600) AS "STUDYGROUP_GOALTIME",
		                              STUDYGROUP_MAXNUM, STUDYGROUP_STDATE,
		                              TRUNC(<!-- SYSDATE --> TO_DATE('2018/11/02') - STUDYGROUP_STDATE + 1) AS "GR_DATES",
		                              STUDYGROUP_CODE
		                       FROM STUDYGROUP SG
		                       JOIN LOCATION L ON(L.LOCATION_CODE = SG.LOCATION_CODE)
		                       JOIN CATEGORY C ON(C.CATEGORY_CODE = SG.CATEGORY_CODE) ) USING(STUDYGROUP_CODE)
		                 )
		<if test="joinStatus lt 1">
		SELECT STUDYTIME_DATE, STUDYGROUP_CODE, GR_DAY_TOTAL, GR_FULFILL_MEM_CNT,
		       LOCATION_NAME, CATEGORY_NAME, STUDYGROUP_NAME, STUDYGROUP_INTRO, STUDYGROUP_GOALTIME, GR_MEM_CNT, STUDYGROUP_MAXNUM,
		       STUDYGROUP_STDATE, GR_DATES
		FROM GR_TOTAL GT,
			(SELECT SUM(GR_MEM_DAY_TOTAL) AS "GR_DAY_TOTAL" FROM GR_TOTAL),
			(SELECT COUNT(GR_MEM_DAY_TOTAL) AS "GR_FULFILL_MEM_CNT" FROM GR_TOTAL WHERE GR_MEM_DAY_TOTAL >= STUDYGROUP_GOALTIME)
		GROUP BY STUDYTIME_DATE, STUDYGROUP_CODE, GR_DAY_TOTAL, GR_FULFILL_MEM_CNT,
		       LOCATION_NAME, CATEGORY_NAME, STUDYGROUP_NAME, STUDYGROUP_INTRO, STUDYGROUP_GOALTIME, GR_MEM_CNT, STUDYGROUP_MAXNUM,
		       STUDYGROUP_STDATE, GR_DATES
		</if>

		<if test="joinStatus gte 1">
		SELECT STUDYTIME_DATE, STUDYGROUP_CODE, GR_DAY_TOTAL, MY_DAY_TOTAL, GR_FULFILL_MEM_CNT,
		       LOCATION_NAME, CATEGORY_NAME, STUDYGROUP_NAME, STUDYGROUP_INTRO, STUDYGROUP_GOALTIME, GR_MEM_CNT, STUDYGROUP_MAXNUM,
		       STUDYGROUP_STDATE, GR_DATES
		FROM GR_TOTAL GT,
			(SELECT SUM(GR_MEM_DAY_TOTAL) AS "GR_DAY_TOTAL" FROM GR_TOTAL),
			(SELECT SUM(GR_MEM_DAY_TOTAL) AS "MY_DAY_TOTAL" FROM GR_TOTAL WHERE MEMBER_CODE = #{ memCode }),
			(SELECT COUNT(GR_MEM_DAY_TOTAL) AS "GR_FULFILL_MEM_CNT" FROM GR_TOTAL WHERE GR_MEM_DAY_TOTAL >= STUDYGROUP_GOALTIME)

		GROUP BY STUDYTIME_DATE, STUDYGROUP_CODE, GR_DAY_TOTAL, MY_DAY_TOTAL, GR_FULFILL_MEM_CNT,
		       LOCATION_NAME, CATEGORY_NAME, STUDYGROUP_NAME, STUDYGROUP_INTRO, STUDYGROUP_GOALTIME, GR_MEM_CNT, STUDYGROUP_MAXNUM,
		       STUDYGROUP_STDATE, GR_DATES
		</if>
	</select> 
</mapper>
	
	
<!-- 	STUDYTIME_DATE
STUDYGROUP_CODE
GR_DAY_TOTAL
MY_DAY_TOTAL
GR_FULFILL_MEM_CNT
LOCATION_NAME
CATEGORY_NAME
STUDYGROUP_NAME
STUDYGROUP_INTRO
STUDYGROUP_GOALTIME
GR_MEM_CNT
STUDYGROUP_MAXNUM
STUDYGROUP_STDATE
GR_DATES -->
	

	
	
	
	