<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="StudyPlanner">
	<resultMap type="StudyTime" id="StudyTimeResultSet">
		<id property="studyTimeCode" column="STUDYTIME_CODE"></id>
		<result property="studyTimeDate" column="STUDYTIME_DATE"/>
		<result property="studyTimeTimezone" column="STUDYTIME_TIMEZONE"/>
		<result property="studyTimeStudyTime" column="STUDYTIME_STUDYTIME"/>
		<result property="studyTimeDivision" column="STUDYTIME_DIVISION"/>
		<result property="studyGroupCode" column="STUDYGROUP_CODE"/>
		<result property="memberCode" column="MEMBER_CODE"/>
	</resultMap>
	
	<resultMap type="Goal" id="GoalResultSet">
		<id property="goalCode" column="GOAL_CODE"></id>
		<result property="memberCode" column="MEMBER_CODE"/>
		<result property="goalEnrollDate" column="GOAL_ENROLLDATE"/>
		<result property="goalContent" column="GOAL_CONTENT"/>
		<result property="goalType" column="GOAL_TYPE"/>
		<result property="goalGoalAmount" column="GOAL_GOALAMOUNT"/>
		<result property="goalAchieveAmount" column="GOAL_ACHIEVEAMOUNT"/>
		<result property="gaolISBN" column="GOAL_ISBN"/>
		<result property="goalDivision" column="GOAL_DIVISION"/>
	</resultMap>
	
	<!-- 일간 공부량 차트 -->
	<select id="selectTodayChart" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT * 
		FROM STUDYTIME 
		WHERE MEMBER_CODE = #{loginUserCode}
		AND STUDYTIME_DIVISION = 0
		AND STUDYTIME_DATE = #{chartDate}
	</select>
	
	<!-- 주간 공부량 차트 -->
	<select id="selectWeeklyChart" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT SUM(STUDYTIME_STUDYTIME), STUDYTIME_DATE
        FROM STUDYTIME
        WHERE MEMBER_CODE = #{loginUserCode}
		AND STUDYTIME_DIVISION = 0
		AND STUDYTIME_DATE BETWEEN #{chartDateYear[0]} AND #{chartDateYear[1]}
        GROUP BY STUDYTIME_DATE
        ORDER BY STUDYTIME_DATE
	</select>
	
	<!-- 월간 공부량 차트 -->
	<select id="selectMonthlyChart" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT * 
		FROM STUDYTIME 
		WHERE MEMBER_CODE = #{loginUserCode}
		AND STUDYTIME_DIVISION = 0
		AND STUDYTIME_DATE LIKE #{chartDateYear} || '%'
	</select>
	
	<!-- 오늘의 목표 리스트 -->
	<select id="selectTodayGoals" resultType="map" parameterType="map">
		SELECT GOAL_CODE,MEMBER_CODE,TO_CHAR(GOAL_ENROLLDATE, 'YYYY/MM/DD')AS GOAL_ENROLLDATE,
		GOAL_CONTENT,GOAL_TYPE,GOAL_GOALAMOUNT,NVL(GOAL_ACHIEVEAMOUNT,0) GOAL_ACHIEVEAMOUNT,GOAL_ISBN,GOAL_DIVISION
		FROM GOAL
		WHERE GOAL_DIVISION = 0
		AND MEMBER_CODE = #{loginUserCode}
		AND GOAL_ENROLLDATE LIKE TO_DATE(#{checkDay})
	</select>
	
	<!-- 오늘의 목표 등록(시간) -->
	<insert id="insertTodayTimeGoal" >
		INSERT INTO GOAL(GOAL_CODE, MEMBER_CODE, GOAL_ENROLLDATE, GOAL_CONTENT, 
		GOAL_TYPE, GOAL_GOALAMOUNT, GOAL_ISBN, GOAL_DIVISION)
		VALUES(SEQ_GOAL_GOAL_CODE.NEXTVAL, #{loginUserCode}, SYSDATE, #{goalName}, 1, #{goalTotaltime}, NULL, 0)
	</insert>
	
	<!-- 오늘의 목표 업데이트(시간 단위) -->
	<update id="updateTodayTimeGoal">
		UPDATE GOAL SET GOAL_CONTENT = #{goalName}, GOAL_GOALAMOUNT = #{goalTotaltime}
		WHERE GOAL_CODE = #{liIndex}
		AND MEMBER_CODE = #{loginUserCode}
		AND GOAL_TYPE = 1
	</update>
	
	
	
</mapper>