<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="always.awake.studyplus.member.model.vo.Member" alias="Member"/>
		<typeAlias type="always.awake.studyplus.member.model.vo.InterestCategory" alias="InterestCategory"/>
		<typeAlias type="always.awake.studyplus.member.model.vo.Files" alias="MemberFiles"/>
    	<typeAlias type="always.awake.studyplus.studyPlanner.model.vo.Goal" alias="Goal"/>
		<typeAlias type="always.awake.studyplus.sgDetail.model.vo.SGDetail" alias="SGDetail"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.Member" alias="adminMember"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.InterestCategory" alias="adminInterestCategory"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.Files" alias="adminFiles"/>
		<typeAlias type="always.awake.studyplus.studyGroup.model.vo.StudyGroup" alias="StudyGroup"/>
		<typeAlias type="always.awake.studyplus.studyGroup.model.vo.Files" alias="StudyGroupFiles"/>
		<typeAlias type="always.awake.studyplus.studyGroup.model.vo.PageInfo" alias="PageInfo"/>
		<typeAlias type="always.awake.studyplus.studyPlanner.model.vo.StudyTime" alias="StudyTime"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.PenaltyMember" alias="adminPenalty "/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.DispauseBoard" alias="adminDispaue"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/studyGroup-mapper.xml" />
		<mapper resource="mappers/sgDetail-mapper.xml" />
		<mapper resource="mappers/studyPlanner-mapper.xml" />
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/block-mapper.xml" />
		<mapper resource="mappers/messenger-mapper.xml" />
	</mappers>
</configuration>