<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="always.awake.studyplus.member.model.vo.Member" alias="Member"/>
		<typeAlias type="always.awake.studyplus.member.model.vo.InterestCategory" alias="InterestCategory"/>
		<typeAlias type="always.awake.studyplus.member.model.vo.Files" alias="Files"/>
    <typeAlias type="always.awake.studyplus.studyPlanner.model.vo.Goal" alias="Goal"/>
		<typeAlias type="always.awake.studyplus.sgDetail.model.vo.SGDetail" alias="SGDetail"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.Member" alias="adminMember"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.InterestCategory" alias="adminInterestCategory"/>
		<typeAlias type="always.awake.studyplus.admin.model.vo.Files" alias="adminFiles"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/studyGroup-mapper.xml"/>
		<mapper resource="mappers/studyPlanner-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
    <mapper resource="mappers/block-mapper.xml"/>
  </mappers>
</configuration>